<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing Page</title>
</head>
<body>
  <div class="container">
    <h1>On the landing page</h1>
    <form action="/create" method="post">
      <p>Name:</p>
      <input type="text" name="name" id="">
      <br>
      <input type="submit" value="Add Name">
    </form>

    <form action="/create2" method="post">
      <p>Email:</p>
      <input type="email" name="email" id="">
      <br>
      <input type="submit" value="Add Email">
    </form>
  </div>

  <a href="/page">Go to the page page</a>
</body>
</html>