<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Players And Teams</title>
</head>
<body>
    <div class="container">
        <h1>All Teams</h1>
        <ul>
            {% for team in teams %}
                <li>{{ team.name }}</li>
                <ul>
                {% for player in team.players.all %}
                    <li>{{ player.name }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <h1>Add Players</h1>
        <form action="/players" method='post'>
            {% csrf_token %}
            <p>Name: <input type="text" name="name"></p>
            <select name="team" id="">
                {% for team in teams %}
                    <option value = {{ team.id }}>{{ team.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="submit">
        </form>
        <h1>All Players</h1>
        <ul>
            {% for player in players %}
                <li>{{ player.name }} plays for {{ player.team.name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>