<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index file</title>
    <script src="/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            const socket = io.connect();
            
            console.log(socket);

            $('.one').click(function(){
                socket.emit('button_pressed');
            })

            socket.on('server_response', function(data){
                $('.results').append(`<p>Server says: ${data.response}</p>`);
            })
        })
    </script>
</head>
<body>
    <div class="container">
        <button class='one'>Button one</button>
        <div class="results"></div>
    </div>
</body>
</html>