*{
  border: 1px dotted red;
}
.wrapper{
  height: 1400px;
  width: 970px;
  margin: 0 auto;
  /*background-image: url('../images/jsloups.png');
  background-repeat: no-repeat;
  background-size: contain;*/
  overflow: hidden;
}
.header{
  /*background-color: red;
  opacity: .5;*/
  height: 60px;
  width: 950px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
.left_content, .main_content{
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  border-radius: 15px;
}
.left_content{
  /*background-color: blue;
  opacity: .5;*/
  height: 190px;
  width: 170px;
  margin-left: 10px;
}
.main_content{
  /*background-color: darkblue;
  opacity: .5;*/
  height: 415px;
  width: 755px;
  margin-left: 15px;
}
.main_content h1, .main_content p, .main_content ul{
  margin-left: 10px;
}
.blue{
  color: blue;
}
